# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Vite
/dist/
/.vite/

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Build output
/build/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
Thumbs.db